@{
    ViewData["Title"] = "Home Page";
}
<table class="table table-bordered" style="margin-top:10px;">
    <tr>
        <th>Action</th>
        <th>Link</th>
    </tr>
    <tr>
        <td>Create new book</td>
        <td><a href="Lab2/CreateBook" style="width:100px;" class="btn btn-primary">Create</a></td>
    </tr>
    @*<tr>
            <td>Get list of books</td>
            <td><a href="Lab2/GetBooks" style="width:100px;" class="btn btn-primary">Books</a></td>
        </tr>
        <tr>
            <td>Get list of readers</td>
            <td><a href="Lab2/GetReaders" style="width:100px;" class="btn btn-primary">Readers</a></td>
        </tr>
        <tr>
            <td>Get list of issuences</td>
            <td><a href="Lab2/GetIssuences" style="width:100px;" class="btn btn-primary">Journal</a></td>
        </tr>
        <tr>
            <td>Get list of Genres</td>
            <td><a href="Lab2/GetJenres" style="width:100px;" class="btn btn-primary">Genres</a></td>
        </tr>*@
    <tr>
        <td>Go to the html page</td>
        <td><a href="~/htmlpage.html" style="width:100px;" class="btn btn-primary">HTML</a></td>
    </tr>
    <tr>
        <td>LIST</td>
        <td>
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul>
        </td>
    </tr>

</table>
    <img style="width:600px;" src="~/images/Picture.PNG">
